*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.world {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.score {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  color: #ffffff;
  z-index: 10;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  bottom: 0;
  z-index: -1;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  --bottom: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 20%;
  bottom: 0;
}

.dino,
.cactus,
.ground {
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .world {
    height: 50vh;
  }

  .dino {
    width: 5vw;
  }

  .cactus {
    width: 3vw;
  }

  .ground {
    height: 10vh;
  }

  .score {
    font-size: 5vw;
  }
}
